numpy==1.24.3
pandas==2.0.1
sanic==23.3.0
opencv-python==4.7.0.72
pytesseract==0.3.10
matplotlib==3.7.1
scikit-image==0.20.0
easyocr==1.6.2
django==4.2 
djangorestframework==3.14.0
django-cors-headers==3.14.0
django-ninja==0.21.0